go 1.26.8

use (
	.
	./test/data/simple
	./test/data/allof
	./test/data/oneof
	./test/data/anyof
	./test/data/provider
	./test/data/security
	./test/data/invalid
	./test/data/reply
	./test/data/traits
	./test/data/avro
	./test/integration
	./tools
)
